.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  width: 100%;
  border-radius: 8px;
  border-radius: 8px;
  border-left: 4px solid var(--color-secondary);
  background-color: var(--grey-1);

  &:hover {
    box-shadow: 0px 4px 42px -12px rgba(0, 0, 0, 0.25);
    background-color: var(--grey-1);
  }

  .header,
  .bottom {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  @media (min-width: 1040px) {
    flex-direction: row;
    justify-content: space-between;

    .bottom {
      align-items: flex-end;
    }
  }
}

.button {
  font-size: 14px;
  width: 70px;
  padding: 8px 10px;
  border-radius: 8px;
  border: 1px solid var(--grey-2);
  background-color: var(--grey-2);
  color: var(--grey-4);
  cursor: pointer;

  &:hover {
    opacity: 1;
    background-color: var(--grey-4);
    color: var(--white);
  }
}

.income {
  border-left: 4px solid var(--color-secondary);
}

.expense {
  border-left: 4px solid var(--grey-2);
}