.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background-color: var(--grey-1);
  border-left: 4px solid var(--color-secondary);
  border-radius: 8px;

  width: 100%;
}