.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 100%;
  border: 2px solid var(--grey-1);

  .helper {
    color: var(--grey-3);
    font-size: 0.75rem;
  }

  .input {
    font-family: var(--font-primary);
    font-size: 1rem;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: var(--grey-1);

    &::placeholder {
      opacity: 0.4;
    }

    &:active,
    &:focus {
      outline-color: var(--black);
      opacity: 1;
    }
  }

  .select {
    font-family: var(--font-primary);
    margin-bottom: 10px;
    opacity: 0.4;

    &::placeholder {
      color: var(--grey-3);
      opacity: 0.4;
    }

    &:active,
    &:focus {
      outline-color: var(--black);
      opacity: 1;
    }
  }
}