.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  width: 100%;
  border: 2px solid var(--grey-1);

  .helper {
    color: var(--grey-3);
    font-size: 0.75rem;
  }

  .input {
    padding: 10px;
    font-size: 1rem;
    border: none;
    background-color: var(--grey-1);
    border-radius: 8px;
    font-family: var(--font-primary);

    &::placeholder {
      opacity: 0.4;
    }

    &:active,
    &:focus {
      outline-color: var(--black);
      opacity: 1;
    }
  }
}

.select {
  font-family: var(--font-primary);
  margin-bottom: 10px;
  opacity: 0.4;

  &::placeholder {
    color: var(--grey-3);
    opacity: 0.4;
  }

  &:active,
  &:focus {
    outline-color: var(--black);
    opacity: 1;
  }
}