:root {
  --font-primary: 'Inter', sans-serif;
  --color-primary: #FD377E;
  --color-primary-2: #E34981;
  --color-secondary: #03B898;
  --black: #000;
  --white: #fff;
  --scroll-primary: #141414;
  --scroll-secondary: #3b3b3b;

  // TEMP
  --grey: grey;
  --grey-2: #eee;
}