:root {
  --font-primary: 'Nunito', sans-serif;
  --color-primary: #FD377E;
  --color-primary-2: #E34981;
  --color-secondary: #03B898;
  --grey-1: #F8F9FA;
  --grey-2: #E9ECEF;
  --grey-3: #868E96;
  --grey-4: #212529;
  --black: #000;
  --white: #fff;
  --scroll-primary: #141414;
  --scroll-secondary: #3b3b3b;
}