html {
  box-sizing: border-box;
  font-size: 1rem;
  font-family: var(--font-primary);
  color: var(--black);
  background-color: var(--white);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  overflow: auto;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scrollbar-color: var(--scroll-secondary) var(--scroll-primary);
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: var(--scroll-primary);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--scroll-secondary);
  border: 3px solid var(--scroll-primary);
  border-radius: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: var(--font-primary);
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  padding: 10px;
  font-size: 1rem;
}