@import '../../../styles/index.scss';

.container {
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid var(--grey-1);
  background-color: var(--grey-1);
  box-shadow: 0px 4px 32px -12px rgba(0, 0, 0, 0.25);
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 6px;
  max-width: 1040px;
  margin: 0 auto;

  .logoIcon {
    height: 30px;
  }

  .logoName {
    @extend .title-2;
    font-weight: 700;

    .logoPrimary {
      color: var(--color-primary);
    }
  }
}