.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px;
}

.containerEmpty {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 150px;
  background-color: var(--grey-1);
}

@media screen and (min-width: 800px) {
  .container {
    width: 100%;
  }

  .containerEmpty {
    justify-content: center;
    align-items: flex-start;
    height: auto;
    width: 100%;
  }
}