.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px;
}

.containerEmpty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  padding: 20px;
  // border-radius: 8px;
  background-color: var(--grey-2);
}