.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 500px;
  padding: 20px;
}

@media screen and (min-width: 800px) {
  .container {
    display: flex;
    padding: 20px;
  }
}