@media screen and (min-width: 600px) {
  .leftContainer {
    width: clamp(0px, 100%, 355px);
    padding: 0 10px;
  }

  .rightContainer {
    flex-grow: 1;
    min-width: clamp(0px, 100%, 500px);
    padding: 0 10px;
  }
}